$avatar_width: 175px

#page
	width: 100%
	display: grid
	grid-template-columns: 1fr 3fr

	#left
		grid-column: 1 / 2
		grid-row: 1 / 1

	#right
		grid-column: 2 / 3
		grid-row: 1 / 1

#avatar
	display: inline-block
	width: $avatar_width

	img
		width: $avatar_width

#buttons
	width: $avatar_width

	button
		width: 100%


#person_info
	display: inline-block

	#name, #nick
		display: inline-block

	#name
		font-size: 22px

	#nick
		opacity: .7
