<div *ngIf="page" id="page">
	<div id="info_block">
		<div id="avatar">
			<img src="page.avatar_link" alt="">
		</div>
		<div id="person_info">
			<div id="name">{{ page.name }}</div>
			<div id="status">{{ page.status }}</div>
			<div id="age">{{ page.age }}</div>
			<div id="city">{{ page.city }}</div>
		</div>
		<div id="stat_info">
			<div id="friends">
				<div class="label">Друзья</div>
				<!-- <div *ngIf="page.friends_count" class="count">
					{{ page.friends_count }}
				</div> -->
			</div>
			<div id="subscribers">
				<div class="label">Подписчики</div>
				<!-- <div *ngIf="page.wall.subscribers_count" class="count">
					{{ page.wall.subscribers_count }}
				</div> -->
			</div>
		</div>
	</div>
	<div id="wall" *ngIf="page.wall">
		<div class="post" *ngFor="let post of page.wall.posts">
			<div class="maker_info">
				<div class="avatar">
					<img src="{{ post.maker_avatar_url }}" alt="">
				</div>
				<div class="maker_name">{{ post.maker_name }}</div>
				<div class="time">{{ post.time }}</div>
			</div>
			<div class="content">
				{{ post.content }}
			</div>
			<div class="stat_info">
				<div class="likes_count">
					{{ post.likes_count }}
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="error" id="error">
	Произошла ошибка
</div>












