$avatar_width: 175px


#avatar
	display: inline-block
	width: $avatar_width

	img
		width: $avatar_width

#buttons
	width: $avatar_width

	button
		width: 100%


#person_info
	display: inline-block

	#name, #nick
		display: inline-block

	#name
		font-size: 22px

	#nick
		opacity: .7
